<%- include('../common/header') %>
<%- include('../common/sidebar') %>


<!-- BEGIN: Content-->
<div class="app-content content ">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <section id="responsive-datatable">
        <div class="row">
          <div class="card">
            <div class="card-header border-bottom">
              <h4 class="card-title">Driver listing</h4>
              <!-- <div class="section-header-breadcrumb-right">
                                <a href="/userListPdf" class="btn btn-primary float-right" title="Edit Profile"> Export PDF </a>    
                            </div> -->
            </div>
            <br>
            <div class="card-DataTable table-responsive">
              <table class="table table-hover-animation" style="color: rgb(65, 64, 64);">
                <thead>
                  <tr>
                    <th>S NO.</th>
                    <th>Company Name</th>
                    <th>Driver Name</th>
                    <th>Phone</th>
                    <th>License</th>
                    <!-- <th>Status</th> -->
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <%userData.forEach(function(data,i) {%>
                  <tr>
                    <td>
                      <%=1+i%>
                    </td>
                    <td>
                      <%=data?.companyLinkId?.slug%>
                    </td>
                    <td>
                      <%=data?.driverName%>
                    </td>
                    <td>
                      <%=data?.phone%>
                    </td>
                    <td>
                      <%=data?.license%>
                    </td>
                    <!-- <td>
                      <img src="<%=data?.image%>" width="45px" height="40px" type="submit" style="cursor:pointer; border-radius: 10px;">
                    </td>
                    <td>
                      <% if(data?.status==1) { %>
                      <button onclick="changeStatus(this)" id="userId_<%-data.id%>" class=" btn btn-sm btn-success status " data-id="<%=data._id%>" value="0">Active</button>
                      <% } else { %>
                      <button onclick="changeStatus(this)" id="userId_<%-data.id%>" class="btn btn-sm btn-danger status" data-id="<%=data._id%>" value="1">IN-Active</button>
                      <% } %>
                    </td> -->
                    <td>
                      <!-- <a href="/viewUser/<%=data._id%>" class="btn btn-sm bg-light-primary"><i data-feather='eye'></i></a> -->
                      <!-- <a href="/editUser/<%=data._id%>" class="btn btn-sm bg-warning"><i data-feather='edit'></i></a> -->
                      <button onclick="confirmDelete('<%=data._id%>')" class="btn btn-sm bg-danger"> <i data-feather='trash'></i> </button>
                    </td>
                  </tr>
                  <%} )%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>


<%- include('../common/footer') %>

<script>
  setTimeout(function() {
    $("div.msg").fadeOut();
  }, 2000);
</script>

<script>
  $(document).ready(function() {
    $('.table').DataTable(); // Initialize DataTable for all tables with the 'table' class
  });
</script>

<script>
  $(document).ready(function() {
    // alert("ready!");
  });

  function confirmDelete(id) {
    console.log(">>>>>>>>done>>>>>>>>>>", id)

    const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: 'btn btn-danger',
        cancelButton: 'btn btn-success'
      },
      buttonsStyling: true

    })

    // console.log("------------------------------result------", id);

    swalWithBootstrapButtons.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, delete it!',
      cancelButtonText: 'No, cancel!',
      reverseButtons: true
    }).then((isConfirm) => {
      // console.log(isConfirm)
      // return
      if (isConfirm.isConfirmed) {
        // alert('asd')
        $.ajax({
          url: "/deleteUser/:id",
          type: 'delete',
          data: {
            id: id
          },
          success: function(result) {}
        });
        swalWithBootstrapButtons.fire(
          'Deleted!',
          'The user has been deleted .',
          'success'
        ).then(() => {
          location.reload();
        })
      } else {
        swalWithBootstrapButtons.fire(
          'Cancelled',
          'The user is safe :)',
          'error'
        )
      }
    })

  }
</script>

<script>
  const changeStatus = (val) => {
    console.log(val)
    let id = val.getAttribute('data-id')
    let value = val.getAttribute('value')
    let elemID = val.getAttribute('id')
    elemID = document.getElementById(elemID)

    $.ajax({
      type: "post",
      url: "/userStatus",
      data: {
        id: id,
        value: value

      },
      success: function(data) {
        if (data) {
          elemID.setAttribute('value', 0)
          elemID.innerText = `Active`
          elemID.classList.remove('btn-danger')
          elemID.classList.add('btn-success')
        } else {
          elemID.setAttribute('value', 1)
          elemID.innerText = `IN-Active`
          elemID.classList.remove('btn-success')
          elemID.classList.add('btn-danger')
        }
        window.location.reload();
      }
    });
  }
</script>