<%- include('../common/header'); -%>
  <%- include('../common/sidebar'); -%>

    <!-- BEGIN: Content-->
    <div class="app-content content ">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
          <section id="multiple-column-form">
            <div class="row">
              <div class="col-md-12 col-12">
                <div class="card">
                  <div class="card-header border-bottom">
                    <!-- <a href="/back-page" class="btn btn-primary" title="Go Back">
                    <i class="feather icon-arrow-left"></i>
                  </a> -->
                    <h4 class="card-title">Admin Profile</h4>
                    <a href="/editProfile" class="btn btn-primary float-right" title="Edit Profile">
                      Edit
                    </a>
                  </div>
                  <br>
                  <div class="card-body">
                    <form class="form form-horizontal" id="addForm">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="profile-widget-header text-center">
                            <img src="<%=session.image%>" alt="Profile"
                              class="img-thumbnail user_bigimg ms-md-0 mx-auto">
                          </div>
                        </div>
                        <div class="col-md-8" style="margin-top: 17px;">
                          <div class="mb-1 row">
                            <div class="col-sm-2">
                              <label class="col-form-label new_lable" for="first-name">Name</label>
                            </div>
                            <div class="col-sm-10">
                              <input type="text" id="name" class="form-control" name="name" value="<%=session.name%>"
                                disabled>
                            </div>
                          </div>

                          <div class="mb-1 row">
                            <div class="col-sm-2">
                              <label class="col-form-label new_lable" for="first-name">Email</label>
                            </div>
                            <div class="col-sm-10">
                              <input type="text" id="email" class="form-control" name="email"
                                value=" <%=session.email%>" disabled>
                            </div>
                          </div>

                          <div class="mb-1 row">
                            <div class="col-sm-2">
                              <label class="col-form-label new_lable" for="first-name">Phone</label>
                            </div>
                            <div class="col-sm-10">
                              <input type="text" id="phone" class="form-control" name="phone"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                maxlength="12" value="<%=session.phone%>" disabled>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>


    <%- include('../common/footer'); -%>

      <script>
        $(document).ready(function () {

          jQuery.validator.addMethod("noSpace", function (value, element) {
            return value == '' || value.trim().length != 0;
          },

            jQuery.validator.addMethod("emailExt", function (value, element, param) {
              return value.match(/^[a-zA-Z0-9_\.%\+\-]+@[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,}$/);
            }, 'Your e-mail is wrong'),


            $('form[id="addForm"]').validate({

              keypress: function (element) {

                var element_id = $(element).attr('id');
                if (this.settings.rules[element_id].keypress !== false) {
                  $(element).valid();
                }
              },

              rules: {
                name: {
                  required: true,
                  noSpace: true,
                  maxlength: 20
                },
                phone: {
                  digits: true,
                  required: true,
                  noSpace: true,
                  minlength: 10,
                  maxlength: 12
                },

              },
              messages: {

                name: {
                  required: "This field is required.",
                  noSpace: "Space not allowed",
                  maxlength: "First name should be 10 charcater"
                },
                phone: {
                  required: "This field is required.",
                  noSpace: "Space not allowed",
                  maxlength: "Phone number should be 10 charcater"
                },

              },
              submitHandler: function (form) {
                form.submit();
              }
            }));
        });
      </script>